{% extends 'base.html.twig' %}

{% block title %}New InformationEleve{% endblock %}

{% block body %}
    <h1>Create new InformationEleve</h1>

    {{ include('information_eleve/_form.html.twig') }}

    <a href="{{ path('app_information_eleve_index') }}">back to list</a>
{% endblock %}
