<form method="post" action="{{ path('app_scolarite_des2_annee_anterieur_delete', {'id': scolarite_des2_annee_anterieur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scolarite_des2_annee_anterieur.id) }}">
    <button class="btn">Delete</button>
</form>
