<form method="post" action="{{ path('app_securite_sociale_delete', {'id': securite_sociale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ securite_sociale.id) }}">
    <button class="btn">Delete</button>
</form>
