{% extends 'base.html.twig' %}

{% block title %}Edit SecuriteSociale{% endblock %}

{% block body %}
    <h1>Edit SecuriteSociale</h1>

    {{ include('securite_sociale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_securite_sociale_index') }}">back to list</a>

    {{ include('securite_sociale/_delete_form.html.twig') }}
{% endblock %}
